[espaniol = "mal"]{
    background-color: aqua;
}
[target = "jal"]{
    background-color: blueviolet;
}

[title ~= "map"]{
    background-color: violet;
}

[class ^= "add"]{
    background-color: yellowgreen;
}

[class $= "mad"]{
    background-color: tomato;
}

[class *= "z"]{
    background-color: cornflowerblue;
}

/* nav{
    border: 2px solid rgb(90, 34, 234);
    height: 300px;
    width: 300px;
}
p{
    border: 2px solid rgba(40, 90,67, 0.5);
    background-color: rgba(40, 90,67, 0.7);
    height: 300px;
    width: 300px;
}

h1{
    border: 2px solid hsl(192, 64%, 33%);
    background-color: hsl(202, 47%, 21%);
    height: 200px;
    width: 200px;
}
table{
    border: 2px solid hsla(280, 23%, 34%, 0.5);
    height: 400px;
    width: 400px;
    background-color: #E89340;
} */