div{
    /* border: 2px solid blueviolet; */
    height: 200px;
    /* border-radius: 20px; */
    border-bottom: 10px solid hotpink;
    border-top: 10px solid firebrick;
    border-right: 5px solid blueviolet;
    border-left: 5px solid navy;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 10px 20px 30px;
    background-image: conic-gradient(orangered, red, maroon, brown, pink,magenta, darkmagenta, violet, indigo, midnightblue, navy,darkblue, royalblue);
}
/* h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-shadow: 12px 20px 7px cornflowerblue;
    text-transform: uppercase;
    text-decoration-color: brown;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
} */